@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://masglobalconsulting.com/">MASGLOBAL CONSULTING</a>.</p>
</div>

<div class="text-center">
    <img alt="Qries" src="http://www.cperfecciona.com/wp-content/uploads/2015/10/banner-curso-excel-ejecutivo-cperfecciona.png">
</div>